/*General styling for base elements*/

body {
	margin: 0;
	background: #EDEEFF;
	overflow: auto;
	width: 100%;
}

h1{
	font-family: "Arial", sans-serif;
	text-align: center;
	vertical-align: middle;
	width: 100%;
	color: #EDEEFF;
	padding: 0;
}

h2{
	font-family: "Arial", sans-serif;
	text-align: center;
	vertical-align: middle;
	width: 100%;
	color: #EDEEFF;
	padding: 0;
}

h3{
	font-family: "Arial", sans-serif;
	text-align: center;
	vertical-align: middle;
	width: 100%;
	color: #EDEEFF;
	padding: 0;
}

h4{
	font-family: "Arial", sans-serif;
	text-align: center;
	vertical-align: middle;
	width: 100%;
	color: #EDEEFF;
	padding: 0;
}


p{
	font-family: "Arial", sans-serif;
	text-align: center;
	color: #EDEEFF;
}

/*The general stylings for the navbar*/

nav {
	overflow: auto;
	z-index: 100;
	width: 88%;
	height: 15%;
	min-width: ;
}

/*General styling for disclaimer section (includes whitespace to left and right*/

.disclaimer {
	margin: 0%;
	width: 88%;
	border-left: 5em solid #EDEEFF;
	border-right: 5em solid #EDEEFF;
	background-color: #2F322A;
}

/*This upcoming section is full of code that controls the functionality of the
flexbox nav bar*/


.flex-container {
	display: inline-flex;
	flex-flow: row nowrap;
	justify-content: center;
	padding: 0;
	margin: 0;
	max-height: 15%;
	background-color: #06501f;
	align-items: center;
	max-width: 100%;
	border-left: 5em solid #EDEEFF;
	border-right: 5em solid #EDEEFF;
}

.flex-item {
	display: inline-block;
	margin-top: 0;
	line-height: 0;
	color: #EDEEFF;
	font-weight: bold;
	font-size: 1.5em;
	flex-basis: content;
	max-width: 30%;
	max-height: 100%;
	text-overflow: ellipsis;
	word-break: break-all;
	padding-right: 0.25em;
	padding-left: 0.25em;
}

.flex-item:hover {
	background: #1A6F37;
	color: #EE5226 ;
}

/*title, display, and menus sections are essentially just different 
colored sections that are meant to be containers for the important page content*/

.title {
	width: 88% ;
	border-left: 5em solid #EDEEFF;
	border-right: 5em solid #EDEEFF;
	background-color: #06501f;
}

.display{
	width: 88% ;
	border-left: 5em solid #EDEEFF;
	border-right: 5em solid #EDEEFF;
	background: linear-gradient(to bottom right, #cc0000, #D5A932);
}

.menus{
	width: 88% ;
	border-left: 5em solid #EDEEFF;
	border-right: 5em solid #EDEEFF;
	background-color: #06501f;
	overflow-y: scroll;
}

/*stylings for the position of images in the menu section*/

.left img{
	width: 45%;
	padding: 1em;
	float: left;
}

.right img{
	width: 45%;
	float: right;
	padding: 1em;
}

.middle img{
	width: 45%;
	padding: 1em;
}

/*This is the styling and general CSS code for the filtered menu section*/
/*Code Snippets taken from  
https://www.w3schools.com/howto/howto_js_filter_elements.asp*/

.filterDiv {
  float: left;
  background-color: #2F322A;
  color: #ffffff;
  width: 100%;
  line-height: 1em;
  text-align: center;
  display: none;
}

.show {
  display: block;
}

.container {
  	overflow: hidden;
}

/* Style the buttons */
.btn {
  	border: none;
  	outline: none;
 	padding: 1em ;
  	background-color: #f1f1f1;
  	cursor: pointer;
}

.btn:hover {
  background-color: #ddd;
}

.btn.active {
  background-color: #666;
  color: white;
}


footer{
	background-color: #2F322A;
	margin-top: 0;
	border-left: 5em solid #EDEEFF;
	border-right: 5em solid #EDEEFF;
	width: 88%;
}